<%= image_tag @user.photo.thumb %>

<h1>Welcome, <%= @user.name %> !</h1>
<%= link_to "Add Item To Your Shop", new_item_path %>

here are your items

<% @user.items.each do |item| %>
	<%= item.name %>
<% end %>