<ul>
	<% @item.each do |i| %>

		<li><%= link_to i.name, i %></li>
		<li><%= i.description %></li>
		<li><%= image_tag i.photo.thumb %></li>
		<li><%= link_to "Trade for this item", root_path %></li>
		
	<% end %>
<ul>